<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <button onclick="location.href='@Url.Action("AddTimeCard", "View")'" class="btn btn-primary mb-3">
        ➕ Добавить маршрут
    </button>
    <button onclick="location.href='@Url.Action("AddCustomTimeCard", "View")'" class="btn btn-outline-primary">
        ✨ Создать маршрут
    </button>
</div>
