@using MyApplicationMetroNSK.ViewModels
@using MyApplicationMetroNSK.Extensions
@using MyApplicationMetroNSK.Data.Enums  

@model List<ModelSalary>

<div class="text-center">
    <h1>Итого за @(((Month)ViewBag.SelectedMonth).GetDisplayName())</h1>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Зарплата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FinalSalary</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<button onclick="window.location.href='@Url.Action("Index", "View")'" class="btn btn-success">Вернуться на главную</button>


