@using MyApplicationMetroNSK.ViewModels

@model List<ModelDataForCalculation>

<div class="text-center">
    <h1>coefficent for calculation</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Stavka</th>
                <th>Class</th>
                <th>Vysluga</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.TariffRate</td>
                    <td>@item.Qualification</td>
                    <td>@item.LengthOfService</td>
                </tr>
            }
        </tbody>
    </table>
</div>